.grid{
  display: grid;
  width: 100%;
  &-main,&-services,&-contact{
    height: 95vh;
  }
  &-main{
    grid-template-columns: 1fr 4fr 2fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
    "description description . . number-page"
    "hero-image hero-image hero-image hero-image number-page"
    ". . direction direction number-page";
    grid-gap: 5px;
  }
  &-services{
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr 180px;
    grid-gap: 1px;
    grid-template-areas:
    "box-title box-title box-title . number-page"
    "description description description description number-page"
    "service1 service2 service3 service4 number-page";
  }
  &-contact{
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    "title form number-page";
  }
}
