.grid{
  display: grid;
  width: 100%;
  &-main,&-services,&-contact{
    min-height: 90vh;
  }
  &-main{
    grid-template-columns: 1fr 4fr 2fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
    "hero-title hero-title hero-image hero-image number-page"
    ". . hero-image hero-image number-page"
    ". . . . number-page";
    grid-gap: 5px;
  }
  &-services{
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto 450px 180px;
    grid-gap: 1px;
    grid-template-areas:
    "box-title box-title . number-page"
    "service-content service-content service-content number-page"
    "service1 service2 service3 number-page";
  }
  &-contact{
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "title form number-page";
  }
}

.service{
  &-1,&-2,&-3{
    align-self: end;
  }
  &-1{
    grid-area: service1
  }
  &-2{
    grid-area: service2
  }
  &-3{
    grid-area: service3
  }
}

.box-title{
  grid-area: box-title;
}
.sub-title{
  grid-area: sub-title;
}
.service-content{
  grid-area:service-content;
}
.hero-title{
  grid-area: hero-title;
}
.hero-legend{
  grid-area: hero-legend;
}
.direction{
  grid-area: direction;
}
.contacto{
  grid-area: contacto;
}

@media only screen and (max-width: $medium) and (min-width: $small){
  .grid-services{
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto 450px 100px;
    grid-template-areas:
    "box-title box-title . number-page"
    "service-content service-content service-content number-page"
    "service1 service2 service3 number-page"
  }
}


@media only screen and (max-width: $small){
  .grid{
    &-main,&-services{
      min-height: 95vh;
    }
    &-main{
      grid-template-areas:
      "hero-title hero-title hero-title hero-title number-page"
      ". . hero-image hero-image number-page"
      ". . . . number-page";
    }
    &-services{
      grid-template-rows: auto 550px 50px;
    }
    &-contact{
      grid-template-columns: 1fr 1fr auto;
      grid-template-rows: 400px 1fr;
      grid-template-areas:
      "title title number-page"
      "form form number-page";
    }
  }
}


@import 'grids/services'