.grid{
  display: grid;
  width: 100%;
  &-main,&-services,&-contact{
    height: 95vh;
  }
  &-main{
    grid-template-columns: 1fr 4fr 2fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
    "hero-title hero-title hero-image hero-image number-page"
    ". . hero-image hero-image number-page"
    ". . . . number-page";
    grid-gap: 5px;
  }
  &-contact{
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    "title form number-page";
  }
}


.box-title{
  grid-area: box-title;
}
.sub-title{
  grid-area: sub-title;
}
.service-content{
  grid-area:service-content;
}
.hero-title{
  grid-area: hero-title;
}
.hero-legend{
  grid-area: hero-legend;
}
.direction{
  grid-area: direction;
}
.contacto{
  grid-area: contacto;
}


@import 'grids/services'