.grid-services{
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr 180px;
    grid-gap: 1px;
    grid-template-areas:
    "box-title box-title . number-page"
    "service-content service-content service-content number-page"
    "service1 service2 service3 number-page";
  }

@media only screen and (max-width: 680px) and (min-width: 480px){
    .grid-services{
      grid-template-columns: 1fr 1fr 1fr auto;
      grid-template-rows: auto 1fr 100px;
      grid-template-areas:
      "box-title box-title . number-page"
      "service-content service-content service-content number-page"
      "service1 service2 service3 number-page"
    }

    .service{
      height: 100px;
      &:hover{
        height: 120px;
        padding-left: .8rem;
      }
      .btn{
        top: 100px;
        right: 0px;
        border-bottom: 1px solid var(--white);
        background-color: rgb(59, 59, 59);
        &:hover{
          background-color: var(--white);
          color: var(--black);
          }
      }
    }
}

.service{
  h5{
    color: var(--white);
  }
  &-1{
    grid-area: service1
  }
  &-2{
    grid-area: service2
  }
  &-3{
    grid-area: service3
  }
  &-4{
    grid-area: service4
  }
}

.service-button{
  text-align: center;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all .2s ease-in-out;
  height: 90px;
  top: 0;
  z-index: 100;
  cursor: pointer;
  &:hover{
    top: -10px;
    background-color: var(--black);
    box-shadow: var(--box-shadow);
    z-index: 20;
  }
  h5{
    position: relative;
  }
  &:active{
    background-color: var(--black);
    h5{
      color: var(--white);
    }
  }
}

.service-content{
  display: flex;
  align-content: center;
  justify-content: center;
  h1{
    z-index: 1000;
    position: relative;
    letter-spacing: 2px;
    max-height: 220px;
  }
  img{
    animation-name: moving;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    align-content: center;
    margin: 0 auto;
    position: absolute;
  }
  .img-web{
    top: 1%;
    left: 22%;
  }
  .img-movil{
    top: 1%;
    left: 36%;
  }
  .img-desarrollo{
    top: 4%;
    left: 20%;
  }
}


.services-box{
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  .title{
    position: relative;
    &-web{
      right: 15%;
    }
    &-movil{
      top: 20%;
      right: 20%;
    }
    &-desarrollo{
      right: -23%;
      top: 40%;
    }
  }
}

.circle{
  $tamaño: 60px;

  width: $tamaño;
  height: $tamaño;
  border-radius: 50%;
  background-color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  &-web{
    top: 60%;
    right: 20%;
    background: linear-gradient(
                  45deg,
                  #06ffc9,
                  #ff06a0
    )
  }
  &-movil{
    top: 65%;
    right: 30%;
    background: linear-gradient(
                  45deg,
                  #fbff06,
                  #ff06a0
    )
  }
  &-desarrollo{
    top: 20%;
    right: 20%;
    background: linear-gradient(
                  45deg,
                  #06ffc9,
                  #ff6106
    )
  }
}


.services-desc{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}
.service__text{
  width: 50%;
}
.service__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.service-border-cicle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  $tamaño: 410px;
  width: $tamaño;
  height: $tamaño;
  border-radius: 50%;
  background: linear-gradient(
                  45deg,
                  #06ffc9,
                  #ff06a0
    )
}

.service-fill-cicle{
  position: absolute;
  $tamaño: 390px;
  width: $tamaño;
  height: $tamaño;
  border-radius: 50%;
  background-color: var(--black)
}


.hand-icon{
  height: 250px;
  z-index: 10;
}
.line{
  height: 500px;
}

.service-close__container{
  position: absolute;
  top: 60px;
  right: 60px;
}


@media only screen and (max-width: 490px){
  .grid-services{
    grid-template-rows: auto 1fr 50px;
  }
  
  .service-content{
    flex-direction: column;
    position: relative;
  }
  .service__text{
    width: 100%;
  }
  .service__img{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 30px;

  }
  .service-fill-cicle{
    width: 80px;
    height: 80px;
  }
  .service-border-cicle{
    width: 90px;
    height: 90px;
  }
  .hand-icon{
    width: 50px;
    height: 50px;
  }
  .line{
    width: 180px;
    height: 180px;
  }

  .services-box{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    img{
      width: 400px;
      top: 25%;
    }
    .title{
      &-web,&-movil,&-desarrollo{
        top: 0%;
        right: 0%;
      }
    }
  }
  .service-content{
    .img-web,.img-movil,.img-desarrollo{
      top: 15%;
      left: 40%;
    }
  }
  .service-close__container{
    top: 10px;
    right: 10px;
  }

  .service{
    height: 50px;
    &:hover{
      height: 60px;
      padding-left: 0rem;
    }
  }
}