@media only screen and (max-width: var(--medium)){

  .grid{
    &-main{
      grid-template-columns: 1fr 4fr 2fr 1fr auto;
      grid-template-areas:
      ". hero-title hero-title hero-title number-page"
      "hero-image hero-image hero-image hero-image number-page"
      "hero-image hero-image hero-image hero-image number-page";
      grid-gap: 1px;
    }
    &-contact{
      grid-template-columns: 1fr auto;
      grid-gap: 0px;
      grid-template-areas:
      "title number-page"
      "form number-page";
    }
  }
  .contact{
    &__form{
      padding: 0;
    }
  }
}
