*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: 'Aileron';

  --primary-color       :   #e4e4e4;
  --secondary-color     :   #17BA98;  
  --btn-primary-color   :   #00995d;
  --link-primary-color  :   #1EACD9;
  --white               :   #FFFFFF;
  --black               :   #252525;
  --light-grey          :   #F1F1F1;
  --medium-grey         :   #EBEBEB;
  --strong-grey         :   #616161;
  --hover               :   #288cac;

  --positivo            :   #0acd47;
  --negativo            :   #fc0000;

  --border-radius       :   6px;
  --box-shadow          :   0px 3px 6px 4px rgba(0, 0, 0, 0.2);

  --font-light         :   100;
  --line-height   :   3rem;
}

$small: 480px;
$medium: 780px;
$large: 1024px;


body{
  min-height: 100vh;
  font-size: 100%;
  width: 100vw;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,pre,p{
  color: var(--white);
  font-size: var(--font-size);
  line-height: 1.5;
  z-index: 10;
}
h2,h4,p{
  font-weight: 100;
}
h1{
  --font-size     :   2.5em;
  padding-bottom: 20px;
}
h2{
  --font-size     :   1.75em;
}
h3{
  --font-size     :   1.5em;
}
h4{
  --font-size     :   1.25em;
}
h5{
  --font-size : .8em;
}
pre{
  --font-size : .7em;
  font-weight: 400;
}
p{
  --font-size:   1.2em;
}
fieldset{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

label{
  color: var(--white);
}

input,textarea{
  box-shadow: none;
  background-color: rgba(23, 23, 23, 0.69);
  color: var(--white);
  padding: 1rem;
  margin: 2rem 0rem;
  border: 1px solid var(--medium-grey);
  border-radius: 3px;
  &::placeholder{
    color: var(--white);
  }
  &:hover{
    border: 1px solid var(--hover);
  }
  &:focus{
    border: 1px solid var(--positivo);
    &::placeholder{
      opacity: 0;
    }
  }

}

@media only screen and (max-width: 780px) and (min-width: 480px){
body{
  font-size: 90%;
}
}

@media only screen and (max-width: 480px){
  body{
    font-size: 80%;
  }
  h1{
    --font-size     :   2.1em;
  }
}


